.header-color {
background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.landing-grid {
background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #434343, #000000);
text-align: center;
position:fixed;
top: 50px;
left: 0;
width: 100%;
height: 100%;
}

.profile-image {
  height: 300px;
  padding-top: 5em;
  margin-top: -45px;
}
.banner-text {
  background-color: white;
  opacity: .7;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 66 px;
  font-weight: bold;
  color: black;

}

.banner-text hr {
  border-top: 5px dotted black;
  width:50%;
  margin: auto;
}
.banner-text p {
  color:black;
  font-size: 20px;
  padding: 1em;
}
.social-links {
  display: flex;
  justify-content: space-evenly;
  width: 25%;
  margin: auto;
  color: white;
}
.social-links i {
  color:black;
  font-size: 5em;
  padding: 8px; 
}

link :hover {
  color: blue;
}
.projects-grid{
  margin-left: 20px;
  margin-top: 20px;
  float: left;
  background-color: lightgray;
}
.cards h1 {
  background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #434343, #000000);
  margin:auto;
  font-weight: bold;
}
.project-image1 {
  color: #fff;
  height: 176px; 
  max-width: 100%;
  max-height: 100%;
  display: block;
  background: url("../src/images/project1.PNG");
  background-size: cover;
  opacity: 0.8;
}
.project-image2 {
  color: #fff;
  height: 176px; 
  max-width: 100%;
  max-height: 100%;
  display: block;
  background: url("../src/images/project2.png");
  background-size: cover;
  opacity: 0.8;
}
.project-image3 {
  color: #fff;
  height: 176px; 
  max-width: 100%;
  max-height: 100%;
  display: block;
  background: url("../src/images/project3.PNG");
  background-size: cover;
  opacity: 0.8;
}
.project-image4 {
  color: #fff;
  height: 176px; 
  max-width: 100%;
  max-height: 100%;
  display: block;
  background: url("../src/images/project4.png");
  background-size: cover;
  opacity: 0.8;
}
.project-image5 {
  color: #fff;
  height: 176px; 
  max-width: 100%;
  max-height: 100%;
  display: block;
  background: url("../src/images/project5.PNG");
  background-size: cover;
  opacity: 0.8;
}
.project-image6 {
  color: #fff;
  height: 176px; 
  max-width: 100%;
  max-height: 100%;
  display: block;
  background: url("../src/images/project6.PNG");
  background-size: cover;
  opacity: 0.8;
}
.cards h1 {
  color: black;
  text-align: center;
}
.contact-grid {
  color: black;
  text-align:center;
  justify-content: center;
  width:80%;
  height:550px;
  background: white;
  margin-bottom: 20px;
}
.contact-body {
  margin:auto;
  position:fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top:2em;
}
.contact-grid hr {
  border-top: 5px dotted black;
  width:100%;
  margin:auto;
}
.contact-list i {
  font-size: 66px;
  padding-right: 5rem;

}
.about-grid {
  color: black;
  justify-content: center;
  opacity: .7;
  width:80%;
  height:auto;
  background: white;
  margin-bottom: 20px;
  border-radius: 5rem ;
}
.about-body {
  background: #000000;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #434343, #000000);

  margin:auto;
  position:fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top:2em;
}
.aboutme-text h1 {
  border-bottom: 5px dotted black;
  width:100%;
  text-align: center;
  font-weight: bold;
}

